<!DOCTYPE html> 
<html>
  <head>

  </head>
  <body>
    <header>
      <app-top-bar></app-top-bar>
      <h1>{{title}}</h1>

      <!--TODO: De adaugat videoul original pe vimeo si incarcat de pe net --> 
      <video class="video-fluid z-depth-1" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
    </video>
    </header>

    <main>
      <div class = "section">
        <h2>Prezentare</h2>
        <hr>
        <p>Jocul este dezvoltat de o echipa de patru studenti de la <abbr title = "Universitatea din Bucuresti"><a href = "http://fmi.unibuc.ro/" target = "_blank">Facultatea de Matematica, Informatica Bucuresti.</a></abbr></p>
        <p>Site-ul a fost conceput si dezvoltat de Barbu Ciprian-Dragos si Dima Catalin-Stefan iar jocul gandit si dezvoltat de Cordescu Octavian-Nicolae si Nacu Florin-Ionut.</p>
        <p>Totul a inceput ca o simpla idee insa rapid s-a dezvoltat si a evoluat ajungang in prezent la ce este acum.</p>
        <p>Totate tehnologiile folosite au fost invatate pe parcursul dezvoltarii intrucat am vrut sa fie o provocare si pentru noi acest proiect. Ne-am gandit ca ar fi o oportunintate buna sa invatam limbaje noi de programare, framework-uri si altele.</p>
      </div>

      <div class = "section">
        <h2>Noutăți</h2>
        <hr>
        <p>Va overim prima varianta a jocului disponibila in sectiunea <a>"Descarca"</a>.</p>

      </div>

    </main>
  
    <app-bottom-section></app-bottom-section>
    
  </body>
</html>