<div class="table_container">
<table style="width:60%">
  <tr>
    <th>Tasta</th>
    <th>Actiune</th>
  </tr>

  <tr>
    <td>W</td>
    <td>Miscare Fata</td>
  </tr>
  <tr>
    <td>S</td>
    <td>Miscare Spate</td>
  </tr> 
  <tr>
    <td>A</td>
    <td>Miscare Stanga</td>
  </tr>
  <tr>
    <td>D</td>
    <td>Miscare Dreapta</td>
  </tr>
  <tr>
    <td>I</td>
    <td>Accesare Inventar</td>
  </tr>
  <tr>
    <td>P</td>
    <td>Meniu Pauza</td>
  </tr>
  <tr>
    <td>R</td>
    <td>Reincarcare Arma</td>
  </tr>
  <tr>
    <td>E</td>
    <td>Ridica obiect</td>
  </tr>
  <tr>
    <td>Click</td>
    <td>Mutare Obiecte in casa + Trage cu arma</td>
  </tr>
</table>
</div>