    <header>
        
  
       
  
        <div class = "side">
          <div><button class="btn" routerLink="/download"><i class="fa fa-download"></i> Descarca</button></div>
          <div><button class="btn" routerLink="/galerie">GALERIE</button></div>
          <div><button class="btn" routerLink="/tutorial">TutoriaL</button></div>
        </div>
  
        <!--TODO: De adaugat videoul original pe vimeo si incarcat de pe net --> 
        
        <img class=".video-fluid" src="https://cdn.discordapp.com/attachments/721692989503569972/721739331227877396/ezgif.com-video-to-gif_1.gif">
      

      </header>
  
      <main>
        <div class = "section">
          <h2>Prezentare</h2>
          <hr>
          <p>Jocul este dezvoltat de o echipa de patru studenti de la <abbr title = "Universitatea din Bucuresti"><a href = "http://fmi.unibuc.ro/" target = "_blank">Facultatea de Matematica, Informatica Bucuresti.</a></abbr></p>
          <p>Site-ul a fost conceput si dezvoltat de Barbu Ciprian-Dragos si Dima Catalin-Stefan iar jocul gandit si dezvoltat de Cordescu Octavian-Nicolae si Nacu Florin-Ionut.</p>
          <p>Totul a inceput ca o simpla idee insa rapid s-a dezvoltat si a evoluat ajungang in prezent la ce este acum.</p>
          <p>Totate tehnologiile folosite au fost invatate pe parcursul dezvoltarii intrucat am vrut sa fie o provocare si pentru noi acest proiect. Ne-am gandit ca ar fi o oportunintate buna sa invatam limbaje noi de programare, framework-uri si altele.</p>
        </div>
  
        <div class = "section">
          <h2>Noutati</h2>
          <hr>
          <p>Va overim prima varianta a jocului disponibila in sectiunea <a>"Descarca"</a>.</p>
  
        </div>

        <div class="section">
          <h2>Crezi ca poti ajunge pe tabela noastra?</h2>
          <hr>
          <p>Trimite-ne un screenshot cu recordul tau de terminare a jocului cat si username-ul, iar daca ai fost destul de bun iti vei vedea numele in Top</p>
          <table style="width:60%">
            <tr>
              <th>Username</th>
              <th>Time</th>
            </tr>
            <tr>
              <td>DaniPrintulThau  <img src="https://www.pngkit.com/png/full/4-44532_euclidean-exquisite-transprent-free-king-crown-vector-png.png" height="20px" width="20px"></td>
              <td>25 Sec</td>
            </tr>
            <tr>
              <td>BrokerDeAsigurari</td>
              <td>36 Sec</td>
            </tr>
            <tr>
              <td>Zmeurica</td>
              <td>40 Sec</td>
            </tr> 

            <tr>
              <td>BarosanNR1</td>
              <td>42 Sec</td>
            </tr>
            <tr>
              <td>Chilleanu</td>
              <td>50 Sec</td>
            </tr>
            <tr>
              <td>EvaLuiAdam</td>
              <td>94 Sec</td>
            </tr>
            <tr>
              <td>Limbric</td>
              <td>102 Sec</td>
            </tr>
            <tr>
              <td>Broscoiul</td>
              <td>110 Sec</td>
            </tr>
            <tr>
              <td>MiamiMami</td>
              <td>111 Sec</td>
            </tr>
            <tr>
              <td>PiticuDinGradina</td>
              <td>125 Sec</td>
            </tr>
          </table>
        </div>
  
      </main>
    
     
  
  