body{
    margin: 0;
    }

h1{
    position: relative;
    margin-top: 40px;
    text-align: center;

    font-size: 5.5vw;
}

h2{
    font-size: 25px;

    text-align: center;
}


header img{
    display: block;

    width: 60%;
    margin: auto;

    box-shadow: 0px 0px 18px 15px;
}


main{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 20px;

    width: 85%;
}

hr{
    width: 100%;
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px inset;
}

.section{
    padding: 8px;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: myFirstFont;
    background-image: url(https://img.freepik.com/free-photo/black-marble-concrete-background_124337-132.jpg?size=626&ext=jpghttps://us.123rf.com/450wm/peekeedee1/peekeedee11811/peekeedee1181100391/112672196-dark-grey-black-slate-background-or-texture-.jpg?ver=6);

    border: 2px solid #000000 ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    box-shadow:  0px 0px 20px 15px #000000;

    width: auto;
    
    font-size: 17px;
}


.section a,abbr{
    color: unset;
}

.btn{
    width: 190px;
    height: 90px;
    font-family: myFirstFont;
    color: #A4A1A1;

    background-image: url("https://www.designyourway.net/drb/ths/diverse/blacktextures/77462229.jpg");
    border: none;
    padding: 12px 30px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    transition: box-shadow 1s;
}

.btn:hover{
    box-shadow:inset -10px 0 20px 0px #8A0303 ;
}

.side{
    right: 0;
    width: 200px;
    

    position: fixed;
    display: inline-flexbox;
    flex-direction: column;
  
}

.side > div{
  height:100px;
}