body{
    display: flex; 
    justify-content: space-evenly;

    width: 80%;
    height: 50px;
    background-color: tomato;
    margin: auto;

    border-radius: 5px;
    box-shadow: 2px 3px 150px;
}

button{
    position: relative;
    display: inline-block;

    background-color: wheat;
    border: none;
    margin: auto;
}